body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/******************************************* HEADER *********************************************/

#header-top {
    background-color: #1CD1B0;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 38px;
}

#header-top h2 {
    font-size: 15px;
    font-weight: 400;
    margin: 10px;
}

#header-bottom {
    background-color: #00669F;
    box-shadow: 0px 10px 10px #c0c0c0;
    font-size: 40px;
    position: absolute;
    left: 0px;
    top: 38px;
    width: 100%;
    height: 101px;
}

#header-bottom h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    margin: 28px;
}


/**************************************** MAIN *****************************************/

#container {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15%;
    top: 250px;
}

.card {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 10px 5px 10px #c0c0c0;
    background-image: url(../img/fondo_batman.png);
    background-repeat: no-repeat;
    background-color: #F3F3F3;
    margin: 30px;
    width: 300px;
    height: 529px;
}

#harley {
    background-image: url(../img/fondo_harley.png);
}

.card i {
    color: #CC2424;
    position: absolute;
    font-size: 30px;
}

.card img {
    border-radius: 50%;
    box-shadow: 0px 5px 5px #707070ab;
    position: relative;
    top: 127px;
    left: 89px;
}

.textcard {
    text-align: center;
    position: relative;
    top: 125px;
    margin: 0px 16px;
}

.textcard h2 {
    font-size: 30px;
    font-weight: 500;
}

.textcard p {
    font-size: 16px;
    text-align: left;
}

.textcard a {
    background-color: #00669F;
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 37px;
    text-decoration: none;
}

.textcard a:hover {
    background-color: rgba(0, 102, 159, 0.8);
}


/**************************************** FOOTER ********************************************/

footer {
    background-color: #00669F;
    position: absolute;
    bottom: -25%;
    color: white;
    width: 100%;
    height: 51px;
}

footer p {
    margin-left: 16px;
}