* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    position: relative;
}

html {
    margin: 0;
    padding: 0;
    =
}

p {
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: white;
    margin-left: 1rem;
}

h1 a {
    text-decoration: none;
    color: white;
}

.bluetext {
    color: #00669f;
}

.italic {
    font-style: italic;
}

a {
    text-decoration: none;
}


/* ----------------------------HEADER------------------------- */

.bar {
    width: 100vw;
    height: 2rem;
    background-color: #1CD1B0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar p {
    margin-left: 0.5rem;
}

.title-bar {
    position: sticky;
    top: 0px;
    z-index: 1;
    background: #00669f;
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 0 2rem; */
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.login-bar {
    background: #001D2D;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 2rem;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-bar a {
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
}

.login-bar a:hover {
    color: #00669f;
    transition: 450ms;
}


/* ------------------------------MAIN------------------------------- */

.main {
    display: flex;
    justify-content: center;
}

.home {
    width: 100vw;
    height: 100vh;
}

.cardsContainer {
    margin: 15rem 0rem;
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.card {
    position: relative;
    width: 18.75rem;
    height: 33.125rem;
    background-color: #f3f3f3;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem;
}

.heart {
    position: absolute;
    top: 2.5%;
    left: 5%;
    transition: 450ms all;
}

.heart:hover {
    filter: invert(100%);
    transform: scale(1.5);
    transition: 450ms all;
}

.icono {
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 30%;
}

.card-info {
    justify-content: center;
    margin: 4rem 1rem 2rem 1rem;
}

.card-info h2 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.btn {
    border: 0;
    color: white;
    width: 40%;
    height: 3rem;
    background-color: #00669f;
    margin: 0 30%;
}

.btn a {
    padding: 12% 27%;
    text-decoration: none;
    color: white;
}

.btn:hover,
.btn a:hover {
    background: #1CD1B0;
    color: #001D2D;
    transition: 300ms all;
}

.add-btn {
    align-self: center;
}

.add-btn a {
    align-self: center;
    background: #00669f;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    padding: 0.85rem 1.25rem;
    text-decoration: none;
    margin: 4rem;
}

.add-btn a:hover {
    background: #1CD1B0;
    color: #00669f;
    transition: 400ms;
    transform: scale(1.2);
}


/* ---------------------------------FOOTER--------------------------- */

.footer {
    color: white;
    background: #00669f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    position: relative;
    bottom: 0;
    width: 100vw;
}


/* ---------------------------------FORMS------------------------------- */

#login,
#registro,
#contacto {
    display: flex;
    justify-content: center;
}

#login form,
#registro form,
#contacto form {
    width: 40vw;
    height: 62.5vh;
    margin: 2rem;
}

form h2 {
    color: #333333;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input[type=text],
input[type=password],
input[type=email],
textarea,
select {
    margin-bottom: 1rem;
    border: thin solid #333333;
    color: #333333;
}

input[type=text],
input[type=password],
input[type=email] {
    padding: 0.5rem 28rem 0.5rem 0.5rem;
}

textarea {
    padding: 0.5rem 28rem 5rem 0.5rem;
}

select {
    padding: 0.5rem 32.2rem 0.5rem 0.5rem;
}

button[type=submit] {
    padding: 0.5rem 17.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: 700;
    background-color: #1CD1B0;
}

.btns button[type=submit],
.btns button[type=reset] {
    padding: 0.5rem 7rem;
    margin-top: 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: 700;
}

form p a {
    align-self: center;
    text-decoration: none;
    color: black;
    position: relative;
    top: 1rem;
}

form {
    text-align: center;
}


/* ---------------------------VER MAS/ DETAIL CARDS----------------------------- */

.harley {
    background-image: url(../img/fondoharley2.jpg);
}

.main {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-card {
    background-color: #f3f3f3;
    height: 25rem;
    width: 35rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.infoimg img {
    position: absolute
}

.infoimg .profilepic {
    left: 13.8rem;
    top: -4rem;
    border-radius: 50%;
}

.infotext {
    position: relative;
    top: 3rem;
}

.detail-card h2 {
    text-align: center;
    text-decoration: underline;
}

.detail-card p {
    font-size: 1rem;
    margin: 1rem;
}

.weapons {
    display: flex;
    justify-content: center;
}

.weapons img {
    width: 4rem;
}

.volver {
    background-color: #2C0187;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: white;
    height: 10%;
    padding: 1.8rem;
    text-align: center;
    margin-top: 0.5rem;
    align-self: flex-end;
}

.volver:hover {
    background-color: #1CD1B0;
    transition: 400ms;
}


/* --------------------------------MEDIA QUERIES----------------------- */

@media (max-width: 425px) {
    .cardsContainer {
        flex-direction: column;
    }
}